<!DOCTYPE HTML>
<html>
<head>

</head>

<body>
  <% include ./partials/_header %>

  <a href="/urls/new"><h1>Shorten your link</h1></a>
  <ul>
    <% for ( let site in urlDB ) { %>
      <li>
        <%=urlDB[site][site]%> shortened to <%= site %>
        <% if (urlDB[site].user_id == user_id) {%>
          <a href="/urls/<%=site%>">Edit</a>
          <form method="POST" action="/urls/<%=site%>/delete">
            <input type="submit" value="DELETE">
          </form>
        <% } else { %>
          <i>Post owned by <%= urlDB[site].user_id %></i>
        <% } %>
      </li>
    <% } %>
  </ul>
</body>
</html>