<!DOCTYPE HTML>
<html>
<head>
  <% include ./partials/_head %>
</head>

<body>
  <% include ./partials/_header %>
  <div class="container-fluid" id="index_container">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron" style=>
         <a href="/urls/new"><h1>Shorten your link</h1></a>
       </div>
     </div>
   </div>
   <ul class="list-group">
    <div class="container">
      <p class="lead">Your Shortened URLs</p>
      <% for ( let site in urlDB ) { %>
      <li class="list-group-item">
        <div class="row">
        <div class="col-md-6">
          <%=urlDB[site][site]%> shortened to <%= site %>
          <br>
          Views:<%=urlDB[site].visits%>
          Unique Views:<%=urlDB[site].uniqueVisits%>
          <br>
          Created:<%= `${urlDB[site].timestampCreated.YYYY}.${urlDB[site].timestampCreated.MM}.${urlDB[site].timestampCreated.DD} at ${urlDB[site].timestampCreated.time}` %>
        </div>
        <div class="col-md-6">
          <a class="btn-primary btn" href="/urls/<%=site%>">Edit</a>
          <form method="POST" action="/urls/<%=site%>/delete?_method=DELETE">
            <input type="submit" value="DELETE" class="btn-danger btn" role="Delete">
          </form>
        </div>
        </div>
      </li>
      <% } %>
    </div>
  </ul>
</div>
</body>
</html>